/*-------------
  menu
-------------*/

div.menu{
  position: absolute;
  top: 100;
  left: 10000;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 35px;
}

div.menu h2{
  font-family: 'Quicksand', sans-serif;
}

div.menu nav{
  display: flex;
}

div.menu nav li{
  margin: 0 15px;
}

div.menu nav li:first-child{
  margin-left: 0; 
}

div.menu nav li:last-child{
  margin-right: 0;  
}



@media (max-width: 1000px){
  div.menu{
    padding: 20px 50px;
  }
}


@media (max-width: 700px){
  div.menu{
    flex-direction: column;   
  }

  div.menu h2{
    margin-bottom: 15px;
  }
}


/*-------------
    Register
--------------*/
h1 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image:url(../img/back.jpg);
    height: 660px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    opacity: 1;
}

.form {
    width: 500px;
    height: 500px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;       
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


form {
    background: rgb(19, 35, 49);
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 200px;
    left: 0;
    position:absolute;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    padding: 10px 10px;
}

h1 {
  margin: 0 0 30px 0;
  color:white;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  color: white;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #013571;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color:white
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}